<div class="festival-nav-container" data-ng-controller='FestivalNavCtrl'>

  <header class="festival-header" id="navTop" data-ng-controller='FestivalNavCtrl' ng-show="festival">

    <div class="container">

      <a ui-sref="app.home" class="festival-logo"><img ng-src="{{festival.field_image_logo_small.file.url}}" alt="{{festival.title}} Logo" ng-show="festival.field_image_logo_small.file.url" /></a>

      <h2 class="festival-title app-heading">{{ festival.title }}</h2>
      <div class="festival-date">{{ festival.field_date_start | amDateFormat:'D' }} &ndash; {{ festival.field_date_end | amDateFormat:'D MMMM YYYY' }}</div>
      <div class="festival-sponsor">Supported by<a ui-sref="app.pageSingle({pageAlias: 'bloomberg-supports-wow-women-world-festival-303'})" class="festival-sponsor"></a></div>

    </div>

  </header>


  <div class="festival-nav" ng-show="festival" ng-init="navOpen = false">

    <div class="container">

      <nav ng-class="{'navOpen':navOpen === true}">
        <a class="hamburger" ng-click="navOpen = !navOpen"></a>
        <a data-ng-repeat="navItem in festivalNav" ng-class="{active: isActiveNav(navItem.url)}" ng-href="{{ navItem.url }}">{{ navItem.title }}</a>
        <a ui-sref="app.pageSingle({pageAlias: 'bloomberg-supports-wow-women-world-festival-303'})" class="festival-sponsor">Supported by<span></span></a>
      </nav>

      <a href="https://twitter.com/hashtag/{{ festival.field_twitter_hashtag }}" target="_blank" ng-show="festival" class="twitter-hashtag" ng-style="{'color':festival.field_color_highlight}">
        #{{ festival.field_twitter_hashtag }}
      </a>

    </div>
  </div>

</div>